<section class="container">
  <article class="row">
    <div class="col-3 bg-light text-center my-2">
      {{#if user}}
      <span class="editIcon">
        <a href="/employee/edit-emp/{{payload._id}}"><img
            src="https://cdn-icons-png.flaticon.com/512/1160/1160515.png"
            alt=""
            title="edit profile"
          /></a>
      </span>
      {{/if}}
      <figure class="my-2 p-2">
        <img
          class="img-thumbnail p-1"
          src="{{trimString payload.emp_photo.0.path}}"
          alt="{{payload.emp_name}}"
        />
      </figure>
      <h2
        class="h2 text-uppercase font-weight-bold text-primary p-2"
      >{{payload.emp_name}}</h2>
      <p class="lead">{{payload.emp_email}}</p>
    </div>

    <div class="col-9 bg-white my-2 p-2 container-fluid">
      <main>
        <h2
          class="text-uppercase border-bottom font-weight-bold text-dark p-2 container-fluid ml-2"
        >{{payload.emp_name}}</h2>
        {{#if user}}
        <form
          class="float-right text-danger"
          method="post"
          action="/employee/delete-emp/{{payload._id}}?_method=DELETE"
        >
          <input type="hidden" name="_method" value="DELETE" />
          <button class="btn btn-danger">Delete</button>
        </form>
        {{else}}
        {{/if}}
        <div class="container-fluid">
          <p class="lead p-1">ID : {{payload.emp_id}}</p>
          <p class="lead p-1">Gender : {{payload.emp_gender}}</p>
          <p class="lead p-1">Education : {{payload.emp_edu}}</p>
          <p class="lead p-1">Experience : {{payload.emp_exp}}</p>
          <p class="lead p-1">Salary : {{payload.emp_salary}}</p>
          <p class="lead p-1">Designtaion : {{payload.emp_des}}</p>
          <p class="lead p-1">Email : {{payload.emp_email}}</p>
           <p class="lead p-1">Phone : {{payload.emp_phone}}</p>
          <p class="lead p-1">Location : {{payload.emp_loc}}</p>
          <p class="lead p-1">Skills : {{payload.emp_skills}}</p> 
        </div>
      </main>
    </div>
  </article>
</section>